{% load staticfiles %}
{% load built_in %}

{#<!DOCTYPE html>#}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Upper HTML Website Template</title>
    <!-- load stylesheets -->
    <link href="{% static "css/zui.css"%}" rel="stylesheet">
    <link href="{% static "css/htmleaf-demo.css"%}" rel="stylesheet">
    <link href="{% static "css/normalize.css"%}" rel="stylesheet">

<style>
    .board-item.drag-shadow {z-index: 9999}
</style>
</head>

<body background="{% static "img/maplestory_01.jpg" %}">

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- 导航头部 -->
            <div class="navbar-header">
                <!-- 移动设备上的导航切换按钮 -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-example">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- 品牌名称或logo -->
                <a class="navbar-brand" href="{% url 'app:home' %}">ZUI</a>
            </div>
            <!-- 导航项目 -->
            <div class="collapse navbar-collapse navbar-collapse-example ">
                <!-- 一般导航项目 -->
{#                <ul class="nav navbar-nav">#}
{#                    <li class=""><a href="#">项目</a></li>#}
{#                    <li><a href="#">需求</a></li>#}
{#                    <!-- 导航中的下拉菜单 -->#}
{##}
{#                </ul>#}
                <!--  右邊導航  -->
                <div class="nav navbar-nav navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="dropdown" >
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">管理 <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">任务</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="col-lg-8">
            <div class="panel">
                {% block head_address_list %}

                {% endblock %}
                {% block comment %}

                {% endblock %}
            </div>
        <div class="col-lg-4">
            <div class="panel">
                <div class="panel-heading">
                    最新帖子
                </div>
                <div class="panel-body">
                    {% get_new_five  as five %}
                    {% for foo in five %}

                        <div style="border-bottom: 1px solid #ddd;">
                            <a href="{% url 'app:detailed' foo.id %}" class="" >
                                <h4 class="list-group-item-heading">{{ foo.title }}</h4>
                                <p class="list-group-item-text text-muted">{{ foo.content }}</p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="panel">
                <div class="panel-heading">
                    标签云

                </div>
                <div class="panel-body">
{#                        <a href="#">  <span class="label label-success">Java</span></a>#}
{#                        <a href="#">  <span class="label label-success">Python</span></a>#}
{#                        <a href="#">  <span class="label label-success">New</span></a>#}
{#                        <a href="#">  <span class="label label-success">New</span></a>#}
{#                        <a href="#">  <span class="label label-success">New</span></a>#}
                    <div class="">
                        <div id='tag-cloud'></div>
                    </div>
                </div>
            </div>

            <div class="panel">
                <div class="panel-heading">
                    状况
                </div>
                <div class="panel-body">
                    {% get_user_post as post %}
                    用戶：{{ post.user_number }}
                    发帖数：{{ post.post_number }}
                </div>
            </div>
        </div>
    </div>
    <!--<script src="js/jquery.magnific-popup.min.js"></script> &lt;!&ndash; Magnific popup (http://dimsemenov.com/plugins/magnific-popup/) &ndash;&gt;        &lt;!&ndash; load JS files &ndash;&gt;-->
    <script src="{% static "js/csrf.js"%}"></script>
    <script src="{% static "js/jquery.js"%}"></script>
    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "js/zui.js" %}"></script> <!-- Tether for Bootstrap (http://stackoverflow.com/questions/34567939/how-to-fix-the-error-error-bootstrap-tooltips-require-tether-http-github-h) -->
    <script src="{% static "js/jquery.svg3dtagcloud.min.js" %}"></script> <!-- 標籤云 -->
    <script>
        $( document ).ready( function() {
            var entries = {%  get_snc  %};

            var settings = {
                entries: entries,
                width: '100%',
                height: '100%',
                radius: '65%',
                radiusMin: 75,
                bgDraw: true,
                bgColor: '#FFF',
                opacityOver: 1.00,
                opacityOut: 0.05,
                opacitySpeed: 6,
                fov: 800,
                speed: 0.5,
                fontFamily: 'Oswald, Arial, sans-serif',
                fontSize: '15',
                fontColor: '#000',
                fontWeight: 'normal',//bold
                fontStyle: 'normal',//italic
                fontStretch: 'normal',//wider, narrower, ultra-condensed, extra-condensed, condensed, semi-condensed, semi-expanded, expanded, extra-expanded, ultra-expanded
                fontToUpperCase: true

            };

            //var svg3DTagCloud = new SVG3DTagCloud( document.getElementById( 'holder'  ), settings );
            $( '#tag-cloud' ).svg3DTagCloud( settings );
            $.ajaxSetup({
                    data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
            });
		} );
    </script>

</body>
</html>