{% extends 'base.html' %}
{% load staticfiles %}
{% load built_in %}
{#标题及路由#}
{% block head_address_list %}
    <div class="panel-heading">
             標題
        </div>
        {% block path %}

        {% endblock %}
        <div class="panel-body " style="padding: 1px">
    {% if not object_list %}
        <h2 class=" text-center">暂时无数据</h2>
    {% else%}
        <div class="list" style="padding: 0">
          <!-- 條目 -->
          <div class="items items-hover">

          {% for object in object_list %}
                <div class="item">
                  <div class="item-heading axiba">
                    <div class="pull-right "><a href="#" class="text-muted"><i class="icon-comments"></i> {{ object.like }}</a></div>
                    <h4><a href="{% url 'app:detailed' object.id %}">{{ object.title }}</a></h4>
                  </div>

                  <div class="item-footer axiba">
                    <a href="#" class="text-muted"><i class="icon icon-tag"></i> {{ object.cfn.name }}</a> &nbsp;
                    <a href="#" class="text-muted"><i class="icon icon-user"></i> {{ object.user.first_name }}</a> &nbsp;
                    <span class="icon icon-history">{{ object.rectime | time_sub  }}</span>
                  </div>
                </div>
          {% endfor %}
          </div>
        </div>

    {% endif %}
    </div>
    </div>
{% endblock %}